In [17]:
import numpy
import pandas
import matplotlib.pyplot
df=pandas.DataFrame()
df['Число'] = [1,2,3,4,5,6,7,8,9,10]
df['Квадрат'] = df['Число']**2
df
df2=pandas.DataFrame(df)
df2=df[df['Число']%2==0]
df2

   Число  Квадрат
1      2        4
3      4       16
5      6       36
7      8       64
9     10      100

In [18]:
df2=df2.drop(columns='Число')
df2

   Квадрат
1        4
3       16
5       36
7       64
9      100