In [88]:
import numpy
import pandas
import matplotlib.pyplot

In [89]:
df = pandas.DataFrame({'число' : [1,2,3,4,5,6,7,8,9,10], 'квадрат' : [1,4,9,16,25,36,49,64,81,100]})
df

   число  квадрат
0      1        1
1      2        4
2      3        9
3      4       16
4      5       25
5      6       36
6      7       49
7      8       64
8      9       81
9     10      100

In [90]:
df2 = df.copy ()
df2["число"] = [0,2,0,4,0,6,0,8,0,10]
#df2.drop["число"]
df2 = df2.drop('число', 1)
df2

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

   квадрат
0        1
1        4
2        9
3       16
4       25
5       36
6       49
7       64
8       81
9      100