In [1]:
# Задание на повторение материала предыдущего семестра

In [2]:
# Зависимости
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.cluster import KMeans

from sklearn.metrics import mean_squared_error, f1_score, silhouette_score

In [3]:
# Генерируем уникальный seed
my_code = "Shumilin"
seed_limit = 2 ** 32
my_seed = int.from_bytes(my_code.encode(), "little") % seed_limit

In [4]:
# Данные загружены отсюда: https://www.kaggle.com/dwdkills/russian-demography
# Читаем данные из файла
example_data = pd.read_csv("datasets/russian_demography.csv")

In [5]:
# "year" - год (1990-2017)
# "region" - название региона
# "npg" - естественный прирост населения на 1000 человек
# "birth_rate" - количество рождений на 1000 человек
# "death_rate" - количество смертей на 1000 человек
# "gdw" - коэффициент демографической нагрузки на 100 человек (Отношение числа нетрудоспособных к числу трудоспособных).
# "urbanization" - процент городского населения

example_data.head()

   year              region  npg  birth_rate  death_rate    gdw  urbanization
0  1990  Republic of Adygea  1.9        14.2        12.3  84.66         52.42
1  1990          Altai Krai  1.8        12.9        11.1  80.24         58.07
2  1990         Amur Oblast  7.6        16.2         8.6  69.55         68.37
3  1990  Arkhangelsk Oblast  3.7        13.5         9.8  73.26         73.63
4  1990    Astrakhan Oblast  4.7        15.1        10.4  77.05         68.01

In [6]:
# Так как список регионов меняется от года к году, в данных есть строки без значений. Удалим их
example_data.dropna(inplace=True)

In [7]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(example_data))
print(val_test_size)

463

In [8]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(example_data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

1389 463 463

In [9]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = ['year', 'npg', 'birth_rate', 'death_rate', 'gdw', 'urbanization']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['year', 'npg', 'birth_rate', 'death_rate',
                                  'gdw', 'urbanization'])])

In [10]:

# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [11]:
# Устанавливаем названия столбцов
column_names = columns_to_scale + ['region']
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [12]:
sc_train

,year,npg,birth_rate,death_rate,gdw,urbanization,region
0,0.37037,0.181818,0.07173,0.606481,0.499119,0.743309,Samara Oblast
1,0.592593,0.277641,0.194093,0.564815,0.388302,0.758734,Chelyabinsk Oblast
2,0.222222,0.17199,0.029536,0.578704,0.623502,0.731575,Moscow Oblast
3,0.555556,0.302211,0.151899,0.486111,0.136187,0.894529,Murmansk Oblast
4,0.814815,0.248157,0.248945,0.675926,0.60518,0.612393,Novgorod Oblast
...,...,...,...,...,...,...,...
1384,0.37037,0.211302,0.07173,0.550926,0.443975,0.705076,Kaliningrad Oblast
1385,0.111111,0.535627,0.405063,0.305556,0.782241,0.170468,Republic of Kalmykia
1386,0.555556,0.326781,0.202532,0.481481,0.074877,0.915623,Magadan Oblast
1387,0.222222,0.518428,0.527426,0.472222,0.759338,0.333553,Tuva Republic
1388,0.296296,0.346437,0.177215,0.412037,0.494891,0.55267,Amur Oblast

In [13]:
# Вспоминаем алгоритмы решения задачи регрессии: линейную регрессию и метод k ближайших соседей
r_models = []

# Линейная регрессия
# Для использования регуляризации, вместо LinearRegression используем Lasso, Ridge или ElasticNet
# Параметр alpha - коэффициент регуляризации для Lasso и Ridge, по умолчанию равен 1
# Для ElasticNet, если регуляризация иммет вид a*L1+b*L2, то
# параметр alpha = a + b, по умолчанию равен 1
# параметр l1_ratio = a / (a + b), по умолчанию равен 0.5
r_models.append(LinearRegression())
r_models.append(Lasso(alpha=1.0))
r_models.append(Ridge(alpha=1.0))
r_models.append(ElasticNet(alpha=1.0, l1_ratio=0.5))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
r_models.append(KNeighborsRegressor(n_neighbors=5))
r_models.append(KNeighborsRegressor(n_neighbors=10))
r_models.append(KNeighborsRegressor(n_neighbors=15))

In [14]:
# Выделим предикторы и зависимую переменную
x_labels = column_names[0:-2]
y_labels = ['urbanization']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = sc_train[y_labels]
y_test = sc_test[y_labels]
y_val = sc_val[y_labels]

In [15]:
# Обучаем модели
for model in r_models:
    model.fit(x_train, y_train)

In [16]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(mse)

0.020622446704298414
0.030620747254610767
0.02053581419501169
0.030620747254610767
0.011110737674129888
0.011793032747774344
0.013105502013828811

In [17]:
# Выбираем лучшую модель
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

KNeighborsRegressor()

In [18]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.011637614258566239

In [19]:
# Вспоминаем алгоритмы решения задачи классификации:
# логистическую регрессию, наивный байесовский классификатор и (снова) метод k ближайших соседей
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='none', solver='saga'))
c_models.append(LogisticRegression(penalty='l1', solver='saga'))
c_models.append(LogisticRegression(penalty='l2', solver='saga'))
c_models.append(LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'))
c_models.append(LogisticRegression())

# Наивный байесовский классификатор
# Параметр alpha - параметр сглаживания, по умолчанию равен 1 (сглаживание Лапласа)
c_models.append(MultinomialNB(alpha=0.0))
c_models.append(MultinomialNB(alpha=0.5))
c_models.append(MultinomialNB(alpha=1.0))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))
c_models.append(KNeighborsClassifier(n_neighbors=10))
c_models.append(KNeighborsClassifier(n_neighbors=15))

In [20]:
# Выделим предикторы и метки классов
x_labels = column_names[0:-1]
y_labels = ['region']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [21]:
# Обучаем модели
for model in c_models:
    model.fit(x_train, y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/naive_bayes.py:509: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

In [22]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in c_models:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(f1)

0.2847984265996088
0.13098287803414552
0.06381495010424076
0.07288606099101877
0.06381495010424076
0.04577562547502244
0.04586220538450242
0.04444406815521474
0.36548281586705156
0.2761184053810831
0.23721809289399176

In [23]:
# Выбираем лучшую модель
i_min = f1s.index(min(f1s))
best_c_model = c_models[i_min]
best_c_model

MultinomialNB()

In [24]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_c_model.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.020363078246447577

In [25]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=50))

In [26]:
# Выделим используемые параметры
x_labels = column_names[0:-1]
x = pd.concat([sc_train[x_labels], sc_val[x_labels], sc_test[x_labels]])
x

         year       npg birth_rate death_rate       gdw urbanization
0     0.37037  0.181818    0.07173   0.606481  0.499119     0.743309
1    0.592593  0.277641   0.194093   0.564815  0.388302     0.758734
2    0.222222   0.17199   0.029536   0.578704  0.623502     0.731575
3    0.555556  0.302211   0.151899   0.486111  0.136187     0.894529
4    0.814815  0.248157   0.248945   0.675926   0.60518     0.612393
..        ...       ...        ...        ...       ...          ...
458  0.444444  0.314496   0.291139   0.597222  0.449436     0.523006
459  0.925926  0.277641   0.219409   0.587963  0.680233     0.752142
460  0.703704  0.297297   0.198312   0.518519  0.439218     0.564931
461  0.407407  0.405405   0.232068   0.361111  0.551973     0.247858
462  0.740741  0.213759   0.194093   0.680556  0.500705     0.703362

[2315 rows x 6 columns]

In [27]:
# Произведем кластеризацию
for model in k_models:
    model.fit(x)

In [28]:
# Оценим качество результата
sils = []
for model in k_models:
    cluster_labels = model.predict(x)
    s = silhouette_score(x, cluster_labels)
    sils.append(s)
    print(s)

0.2952006309308476
0.24189110216044937
0.23653118087574726
0.23779019181310002

In [29]:
# Выбираем лучшую модель
i_min = sils.index(min(sils))
best_k_model = k_models[i_min]
print(best_k_model)
print(sils[i_min])

KMeans(n_clusters=20)
0.23653118087574726

In [30]:
# Задание №1 - анализ моделей для задачи регрессии
# Общий список моделей
r_models = [
    LinearRegression(),
    Lasso(alpha=1.0),
    Lasso(alpha=0.5),
    Ridge(alpha=1.0),
    Ridge(alpha=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.25),
    ElasticNet(alpha=1.0, l1_ratio=0.75),
    ElasticNet(alpha=0.5, l1_ratio=0.5),
    ElasticNet(alpha=0.5, l1_ratio=0.25),
    ElasticNet(alpha=0.5, l1_ratio=0.75),
    KNeighborsRegressor(n_neighbors=5),
    KNeighborsRegressor(n_neighbors=10),
    KNeighborsRegressor(n_neighbors=15),
    KNeighborsRegressor(n_neighbors=20),
    KNeighborsRegressor(n_neighbors=25)
]

In [31]:
# Выбор моделей для задания
n = 4
random.seed(my_seed)
my_models1 = random.sample(r_models, n)
print(my_models1)

[KNeighborsRegressor(n_neighbors=20), ElasticNet(), Ridge(alpha=0.5), Lasso(alpha=0.5)]

In [32]:
# Загрузим данные для задачи регрессии
data = pd.read_csv("datasets/weather.csv")
data

,water_level,precipitation,temperature,humidity,visibility,wind,weather,pressure,fire,wl_change,temp_change,pressure_change
0,"468,0","0,0","24,9","31,0","100,0","4,0","0,0","993,8","4,0","-3,0","-0,3","-0,4"
1,"140,0","0,0","27,9","22,0","20,0","1,0","0,0","1004,1","4,0","-2,0","0,6","-1,0"
2,"464,0","0,0","25,6","28,0","20,0","2,0","1,0","1001,2","4,0","-7,0","-1,8","-0,3"
3,"467,0","0,0","26,7","26,0","100,0","3,0","0,0","992,3","4,0","-1,0","1,2","-1,3"
4,"138,0","0,0","29,1","22,0","20,0","1,0","0,0","1001,3","4,0","-2,0","2,5","-1,3"
...,...,...,...,...,...,...,...,...,...,...,...,...
1434,"474,0","0,1","6,4","95,0","4,0","1,0","3,0","999,9","4,0","-1,0","5,9","1,5"
1435,"65,0","0,0","6,4","93,0","10,0","4,0","3,0","983,9","4,0","-1,0","5,2","3,1"
1436,"159,0","0,1","8,5","83,0","10,0","2,0","1,0","969,7","4,0","1,0","1,4","1,9"
1437,"99,0","0,1","7,5","91,0","10,0","3,0","3,0","995,4","4,0","-4,0","2,7","1,7"
1438,"227,0","0,3","6,9","79,0","10,0","7,0","4,0","990,4","4,0","-1,0","1,3","1,7"

In [33]:
data['water_level'] = data['water_level'].str.replace(',','.')
data['precipitation'] = data['precipitation'].str.replace(',','.')
data['temperature'] = data['temperature'].str.replace(',','.')
data['humidity'] = data['humidity'].str.replace(',','.')
data['visibility'] = data['visibility'].str.replace(',','.')
data['wind'] = data['wind'].str.replace(',','.')
data['weather'] = data['weather'].str.replace(',','.')
data['pressure'] = data['pressure'].str.replace(',','.')
data['fire'] = data['fire'].str.replace(',','.')                       
data['wl_changer'] = data['wl_change'].str.replace(',','.')                       
data['temp_change'] = data['temp_change'].str.replace(',','.')                      
data['pressure_change'] = data['pressure_change'].str.replace(',','.')

In [34]:
data

,water_level,precipitation,temperature,humidity,visibility,wind,weather,pressure,fire,wl_change,temp_change,pressure_change,wl_changer
0,468.0,0.0,24.9,31.0,100.0,4.0,0.0,993.8,4.0,"-3,0",-0.3,-0.4,-3.0
1,140.0,0.0,27.9,22.0,20.0,1.0,0.0,1004.1,4.0,"-2,0",0.6,-1.0,-2.0
2,464.0,0.0,25.6,28.0,20.0,2.0,1.0,1001.2,4.0,"-7,0",-1.8,-0.3,-7.0
3,467.0,0.0,26.7,26.0,100.0,3.0,0.0,992.3,4.0,"-1,0",1.2,-1.3,-1.0
4,138.0,0.0,29.1,22.0,20.0,1.0,0.0,1001.3,4.0,"-2,0",2.5,-1.3,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1434,474.0,0.1,6.4,95.0,4.0,1.0,3.0,999.9,4.0,"-1,0",5.9,1.5,-1.0
1435,65.0,0.0,6.4,93.0,10.0,4.0,3.0,983.9,4.0,"-1,0",5.2,3.1,-1.0
1436,159.0,0.1,8.5,83.0,10.0,2.0,1.0,969.7,4.0,"1,0",1.4,1.9,1.0
1437,99.0,0.1,7.5,91.0,10.0,3.0,3.0,995.4,4.0,"-4,0",2.7,1.7,-4.0
1438,227.0,0.3,6.9,79.0,10.0,7.0,4.0,990.4,4.0,"-1,0",1.3,1.7,-1.0

In [35]:
# Зависимая переменная для всех одна и та же. Предикторы выбираем случайнм образом.
columns = list(data.columns)
n_x = 5

y_label = ['water_level']
x_labels = random.sample(columns[1:], n_x)

print(x_labels)

['pressure', 'temperature', 'fire', 'humidity', 'temp_change']

In [36]:
all_lb =  x_labels + y_label

In [37]:
data=data[list(all_lb)]
data

     pressure temperature fire humidity temp_change water_level
0       993.8        24.9  4.0     31.0        -0.3       468.0
1      1004.1        27.9  4.0     22.0         0.6       140.0
2      1001.2        25.6  4.0     28.0        -1.8       464.0
3       992.3        26.7  4.0     26.0         1.2       467.0
4      1001.3        29.1  4.0     22.0         2.5       138.0
...       ...         ...  ...      ...         ...         ...
1434    999.9         6.4  4.0     95.0         5.9       474.0
1435    983.9         6.4  4.0     93.0         5.2        65.0
1436    969.7         8.5  4.0     83.0         1.4       159.0
1437    995.4         7.5  4.0     91.0         2.7        99.0
1438    990.4         6.9  4.0     79.0         1.3       227.0

[1439 rows x 6 columns]

In [38]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(data))
print(val_test_size)

288

In [39]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

863 288 288

In [40]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = all_lb

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['pressure', 'temperature', 'fire', 'humidity',
                                  'temp_change', 'water_level'])])

In [41]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [42]:
# Устанавливаем названия столбцов
column_names = all_lb
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [43]:
sc_train

     pressure  temperature  fire  humidity  temp_change  water_level
0    0.807084     0.581448   0.0  0.549451     0.488462     0.202085
1    0.721176     0.613122   0.0  0.791209     0.434615     0.259824
2    0.813112     0.522624   0.0  0.736264     0.184615     0.408180
3    0.067069     0.658371   0.0  0.406593     0.180769     0.327987
4    0.747551     0.461538   1.0  0.967033     0.334615     0.392943
..        ...          ...   ...       ...          ...          ...
858  0.737754     0.744344   0.0  0.362637     0.311538     0.219727
859  0.758101     0.481900   0.0  0.802198     0.296154     0.421010
860  0.763376     0.771493   0.0  0.395604     0.534615     0.441860
861  0.719668     0.459276   0.0  0.725275     0.392308     0.607859
862  0.846270     0.350679   0.0  0.989011     0.342308     0.332799

[863 rows x 6 columns]

In [44]:
x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = sc_train[y_label]
y_test = sc_test[y_label]
y_val = sc_val[y_label]

In [45]:
# Обучаем модели
for model in my_models1:
    model.fit(x_train, y_train)

In [46]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in my_models1:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(mse)

0.027261284004894287
0.03244990803255151
0.029898130264889116
0.03244990803255151

In [47]:
# Выбираем лучшую модель # Укажите, какая модель решает задачу лучше других.
i_min = mses.index(min(mses))
best_my_model = my_models1[i_min]
print('Модель ', best_my_model, 'решает задачу лучше других.')

Модель  KNeighborsRegressor(n_neighbors=20) решает задачу лучше других.

In [48]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.11151980603790419

In [49]:
# Задание №2 - анализ моделей для задачи классификации
# Общий список моделей
c_models = [
    LogisticRegression(penalty='none', solver='saga'),
    LogisticRegression(penalty='l1', solver='saga'),
    LogisticRegression(penalty='l2', solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.25, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.75, solver='saga'),
    LogisticRegression(),
    MultinomialNB(alpha=0.0),
    MultinomialNB(alpha=0.25),
    MultinomialNB(alpha=0.5),
    MultinomialNB(alpha=0.75),
    MultinomialNB(alpha=1.0),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=15),
    KNeighborsClassifier(n_neighbors=20),
    KNeighborsClassifier(n_neighbors=25)
]

In [50]:
# Выбор моделей для задания
n = 5
my_models2 = random.sample(c_models, n)
print(my_models2)

[MultinomialNB(), LogisticRegression(l1_ratio=0.75, penalty='elasticnet', solver='saga'), LogisticRegression(penalty='l1', solver='saga'), MultinomialNB(alpha=0.0), LogisticRegression()]

In [51]:
# Загрузим данные для задачи классификации
data = pd.read_csv("datasets/zoo2.csv")
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,chameleon,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,iguana,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,lizard,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,python,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,crocodile,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,gharial,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,skink,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,anchovy,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,flounder,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,halibut,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,mackerel,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,barracuda,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,marlin,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,trout,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,siren,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,tree frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,dart frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,firebelly,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,wart toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,mosquito,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,cricket,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,beetle,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,palmetto,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,mantis,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,dragonfly,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,aphid,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,antlion,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,spider,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,silkworm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,jellyfish,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [52]:
data['animal_name'] = pd.get_dummies(data['animal_name'])
data.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,0,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,0,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,0,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,0,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,0,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3

In [53]:
# Метка класса для всех одна и та же. Параметры выбираем случайнм образом.
columns = list(data.columns)
n_x = 8

y_label = ['class_type']
x_labels = random.sample(columns[:-1], n_x)
all_lb1 =  x_labels + y_label
print(x_labels)

['hair', 'breathes', 'animal_name', 'domestic', 'catsize', 'fins', 'airborne', 'eggs']

In [54]:
data=data[list(all_lb1)]
data.head()

,hair,breathes,animal_name,domestic,catsize,fins,airborne,eggs,class_type
0,0,1,0,1,1,0,0,1,3
1,0,1,0,1,0,0,0,1,3
2,0,1,0,1,1,0,0,1,3
3,0,1,0,0,0,0,0,1,3
4,0,1,0,1,0,0,0,1,3

In [55]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(data))
print(val_test_size)

9

In [56]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

25 9 9

In [57]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = x_labels#all_lb1

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['hair', 'breathes', 'animal_name', 'domestic',
                                  'catsize', 'fins', 'airborne', 'eggs'])])

In [58]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [59]:
# Устанавливаем названия столбцов
column_names = all_lb1
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [60]:
sc_train

,hair,breathes,animal_name,domestic,catsize,fins,airborne,eggs,class_type
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0
2,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
5,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
6,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0
7,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0
8,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
10,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0
11,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0
12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
13,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,3.0
14,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
15,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
16,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
17,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
18,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
19,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
21,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0
22,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0
23,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
24,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0

In [61]:
x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_label])
y_test = np.ravel(sc_test[y_label])
y_val = np.ravel(sc_val[y_label])

In [62]:
# Обучаем модели
for model2 in my_models2:
    model2.fit(x_train, y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/naive_bayes.py:509: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

In [63]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in my_models2:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(f1)

0.7333333333333333
0.7629629629629631
0.7629629629629631
0.7333333333333333
1.0

In [64]:
# Выбираем лучшую модель # Укажите, какая модель решает задачу лучше других.
i_min = f1s.index(min(f1s))
best_my_models2 = my_models2[i_min]
print('Модель ', best_my_models2, 'решает задачу лучше других.')

Модель  MultinomialNB() решает задачу лучше других.

In [65]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_my_models2.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.48148148148148145