In [1]:
# Задание на повторение материала предыдущего семестра

In [2]:
# Зависимости
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.cluster import KMeans

from sklearn.metrics import mean_squared_error, f1_score, silhouette_score

In [3]:
# Генерируем уникальный seed
my_code = "Sokolov"
seed_limit = 2 ** 32
my_seed = int.from_bytes(my_code.encode(), "little") % seed_limit

In [4]:
# Данные загружены отсюда: https://www.kaggle.com/dwdkills/russian-demography
# Читаем данные из файла
example_data = pd.read_csv("datasets/russian_demography.csv")

In [5]:
# "year" - год (1990-2017)
# "region" - название региона
# "npg" - естественный прирост населения на 1000 человек
# "birth_rate" - количество рождений на 1000 человек
# "death_rate" - количество смертей на 1000 человек
# "gdw" - коэффициент демографической нагрузки на 100 человек (Отношение числа нетрудоспособных к числу трудоспособных).
# "urbanization" - процент городского населения

example_data.head()

   year              region  npg  birth_rate  death_rate    gdw  urbanization
0  1990  Republic of Adygea  1.9        14.2        12.3  84.66         52.42
1  1990          Altai Krai  1.8        12.9        11.1  80.24         58.07
2  1990         Amur Oblast  7.6        16.2         8.6  69.55         68.37
3  1990  Arkhangelsk Oblast  3.7        13.5         9.8  73.26         73.63
4  1990    Astrakhan Oblast  4.7        15.1        10.4  77.05         68.01

In [6]:
# Так как список регионов меняется от года к году, в данных есть строки без значений. Удалим их
example_data.dropna(inplace=True)

In [7]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(example_data))
print(val_test_size)

463

In [8]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(example_data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

1389 463 463

In [9]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = ['year', 'npg', 'birth_rate', 'death_rate', 'gdw', 'urbanization']

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['year', 'npg', 'birth_rate', 'death_rate',
                                  'gdw', 'urbanization'])])

In [10]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [11]:
# Устанавливаем названия столбцов
column_names = columns_to_scale + ['region']
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [12]:
sc_train

,year,npg,birth_rate,death_rate,gdw,urbanization,region
0,0.481481,0.226368,0.130802,0.59447,0.490868,0.675527,Volgograd Oblast
1,0.814815,0.422886,0.367089,0.488479,0.428248,0.628126,Omsk Oblast
2,0.481481,0.196517,0.105485,0.62212,0.379022,1.0,Saint Petersburg
3,0.074074,0.276119,0.130802,0.502304,0.804488,0.591463,Smolensk Oblast
4,0.777778,0.323383,0.223629,0.516129,0.440077,0.742045,Samara Oblast
...,...,...,...,...,...,...,...
1384,0.62963,0.310945,0.236287,0.552995,0.295356,0.511588,Mari El Republic
1385,0.925926,0.848259,0.71308,0.078341,0.707949,0.144952,Chechen Republic
1386,0.148148,0.50995,0.362869,0.322581,0.770395,0.181223,Republic of Kalmykia
1387,1.0,0.236318,0.122363,0.56682,0.688642,0.634673,Smolensk Oblast
1388,0.074074,0.360697,0.21097,0.43318,0.692294,0.700668,Perm Krai

In [13]:
# Вспоминаем алгоритмы решения задачи регрессии: линейную регрессию и метод k ближайших соседей
r_models = []

# Линейная регрессия
# Для использования регуляризации, вместо LinearRegression используем Lasso, Ridge или ElasticNet
# Параметр alpha - коэффициент регуляризации для Lasso и Ridge, по умолчанию равен 1
# Для ElasticNet, если регуляризация иммет вид a*L1+b*L2, то
# параметр alpha = a + b, по умолчанию равен 1
# параметр l1_ratio = a / (a + b), по умолчанию равен 0.5
r_models.append(LinearRegression())
r_models.append(Lasso(alpha=1.0))
r_models.append(Ridge(alpha=1.0))
r_models.append(ElasticNet(alpha=1.0, l1_ratio=0.5))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
r_models.append(KNeighborsRegressor(n_neighbors=5))
r_models.append(KNeighborsRegressor(n_neighbors=10))
r_models.append(KNeighborsRegressor(n_neighbors=15))

In [14]:
# Выделим предикторы и зависимую переменную
x_labels = column_names[0:-2]
y_labels = ['urbanization']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = sc_train[y_labels]
y_test = sc_test[y_labels]
y_val = sc_val[y_labels]

In [15]:
# Обучаем модели
for model in r_models:
    model.fit(x_train, y_train)

In [16]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in r_models:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(mse)

0.020664097193722992
0.02888198049096407
0.02060305884346451
0.02888198049096407
0.011245440301743922
0.011920767791907276
0.012897040097902513

In [17]:
# Выбираем лучшую модель
i_min = mses.index(min(mses))
best_r_model = r_models[i_min]
best_r_model

KNeighborsRegressor()

In [18]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.01046190174599898

In [19]:
# Вспоминаем алгоритмы решения задачи классификации:
# логистическую регрессию, наивный байесовский классификатор и (снова) метод k ближайших соседей
c_models = []

# Логистическая регрессия
# Параметр penalty - тип регуляризации: 'l1', 'l2', 'elasticnet', 'none'}, по умолчанию 'l2'
# Для некоторых типов регуляризации доступны не все алгоритмы (параметр solver)
# Для elasticnet регуляризации необходимо уазывать параметр l1_ratio (0 - l2, 1 - l1)
c_models.append(LogisticRegression(penalty='none', solver='saga'))
c_models.append(LogisticRegression(penalty='l1', solver='saga'))
c_models.append(LogisticRegression(penalty='l2', solver='saga'))
c_models.append(LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'))
c_models.append(LogisticRegression())

# Наивный байесовский классификатор
# Параметр alpha - параметр сглаживания, по умолчанию равен 1 (сглаживание Лапласа)
c_models.append(MultinomialNB(alpha=0.0))
c_models.append(MultinomialNB(alpha=0.5))
c_models.append(MultinomialNB(alpha=1.0))

# K ближайших соседей
# Параметр n_neighbors - количество соседей, по умолчания равен 5
c_models.append(KNeighborsClassifier(n_neighbors=5))
c_models.append(KNeighborsClassifier(n_neighbors=10))
c_models.append(KNeighborsClassifier(n_neighbors=15))

In [20]:
# Выделим предикторы и метки классов
x_labels = column_names[0:-1]
y_labels = ['region']

x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_labels])
y_test = np.ravel(sc_test[y_labels])
y_val = np.ravel(sc_val[y_labels])

In [21]:
# Обучаем модели
for model in c_models:
    model.fit(x_train, y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)
/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/naive_bayes.py:509: UserWarning: alpha too small will result in numeric errors, setting alpha = 1.0e-10
  'setting alpha = %.1e' % _ALPHA_MIN)

In [22]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in c_models:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(f1)

0.32131608635179365
0.12178847177967521
0.0604581212118823
0.06635654654301149
0.06040149652837383
0.02561857685886204
0.021602822497703483
0.021420569764777773
0.3380142745887418
0.24206491462608185
0.24346375756565727

In [23]:
# Выбираем лучшую модель
i_min = f1s.index(min(f1s))
best_c_model = c_models[i_min]
best_c_model

MultinomialNB()

In [24]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_c_model.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.012277975431163945

In [25]:
# Вспоминаем алгоритм решения задачи кластеризации - метод k-средних
# Параметр n_clusters - количество кластеров, по умолчанию равен 8
k_models = []
k_models.append(KMeans(n_clusters=5))
k_models.append(KMeans(n_clusters=8))
k_models.append(KMeans(n_clusters=20))
k_models.append(KMeans(n_clusters=50))

In [26]:
# Выделим используемые параметры
x_labels = column_names[0:-1]
x = pd.concat([sc_train[x_labels], sc_val[x_labels], sc_test[x_labels]])
x

         year       npg birth_rate death_rate       gdw urbanization
0    0.481481  0.226368   0.130802    0.59447  0.490868     0.675527
1    0.814815  0.422886   0.367089   0.488479  0.428248     0.628126
2    0.481481  0.196517   0.105485    0.62212  0.379022          1.0
3    0.074074  0.276119   0.130802   0.502304  0.804488     0.591463
4    0.777778  0.323383   0.223629   0.516129  0.440077     0.742045
..        ...       ...        ...        ...       ...          ...
458  0.481481   0.28607   0.194093   0.557604  0.465646     0.447558
459  0.444444  0.131841   0.101266   0.737327  0.626892     0.591724
460       0.0  0.360697   0.240506   0.465438  0.785354     0.582428
461  0.555556   0.30597   0.151899   0.488479  0.134458     0.895247
462  0.592593  0.154229   0.092827   0.668203   0.48565     0.499804

[2315 rows x 6 columns]

In [27]:
# Произведем кластеризацию
for model in k_models:
    model.fit(x)

In [28]:
# Оценим качество результата
sils = []
for model in k_models:
    cluster_labels = model.predict(x)
    s = silhouette_score(x, cluster_labels)
    sils.append(s)
    print(s)

0.2951522087771824
0.2544824443053705
0.23812145792011197
0.2333232580561434

In [29]:
# Выбираем лучшую модель
i_min = sils.index(min(sils))
best_k_model = k_models[i_min]
print(best_k_model)
print(sils[i_min])

KMeans(n_clusters=50)
0.2333232580561434

In [56]:
# Задание №1 - анализ моделей для задачи регрессии
# Общий список моделей
r_models = [
    LinearRegression(),
    Lasso(alpha=1.0),
    Lasso(alpha=0.5),
    Ridge(alpha=1.0),
    Ridge(alpha=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.5),
    ElasticNet(alpha=1.0, l1_ratio=0.25),
    ElasticNet(alpha=1.0, l1_ratio=0.75),
    ElasticNet(alpha=0.5, l1_ratio=0.5),
    ElasticNet(alpha=0.5, l1_ratio=0.25),
    ElasticNet(alpha=0.5, l1_ratio=0.75),
    KNeighborsRegressor(n_neighbors=5),
    KNeighborsRegressor(n_neighbors=10),
    KNeighborsRegressor(n_neighbors=15),
    KNeighborsRegressor(n_neighbors=20),
    KNeighborsRegressor(n_neighbors=25)
]

In [57]:
# Выбор моделей для задания
n = 4
random.seed(my_seed)
my_models1 = random.sample(r_models, n)
print(my_models1)

[Ridge(alpha=0.5), Ridge(), ElasticNet(alpha=0.5, l1_ratio=0.75), Lasso()]

In [58]:
# Загрузим данные для задачи регрессии
data = pd.read_csv("datasets/weather.csv")
data

,water_level,precipitation,temperature,humidity,visibility,wind,weather,pressure,fire,wl_change,temp_change,pressure_change
0,"468,0","0,0","24,9","31,0","100,0","4,0","0,0","993,8","4,0","-3,0","-0,3","-0,4"
1,"140,0","0,0","27,9","22,0","20,0","1,0","0,0","1004,1","4,0","-2,0","0,6","-1,0"
2,"464,0","0,0","25,6","28,0","20,0","2,0","1,0","1001,2","4,0","-7,0","-1,8","-0,3"
3,"467,0","0,0","26,7","26,0","100,0","3,0","0,0","992,3","4,0","-1,0","1,2","-1,3"
4,"138,0","0,0","29,1","22,0","20,0","1,0","0,0","1001,3","4,0","-2,0","2,5","-1,3"
...,...,...,...,...,...,...,...,...,...,...,...,...
1434,"474,0","0,1","6,4","95,0","4,0","1,0","3,0","999,9","4,0","-1,0","5,9","1,5"
1435,"65,0","0,0","6,4","93,0","10,0","4,0","3,0","983,9","4,0","-1,0","5,2","3,1"
1436,"159,0","0,1","8,5","83,0","10,0","2,0","1,0","969,7","4,0","1,0","1,4","1,9"
1437,"99,0","0,1","7,5","91,0","10,0","3,0","3,0","995,4","4,0","-4,0","2,7","1,7"
1438,"227,0","0,3","6,9","79,0","10,0","7,0","4,0","990,4","4,0","-1,0","1,3","1,7"

In [59]:
data['water_level'] = data['water_level'].str.replace(',','.')
data['precipitation'] = data['precipitation'].str.replace(',','.')
data['temperature'] = data['temperature'].str.replace(',','.')
data['humidity'] = data['humidity'].str.replace(',','.')
data['visibility'] = data['visibility'].str.replace(',','.')
data['wind'] = data['wind'].str.replace(',','.')
data['weather'] = data['weather'].str.replace(',','.')
data['pressure'] = data['pressure'].str.replace(',','.')
data['fire'] = data['fire'].str.replace(',','.')                       
data['wl_change'] = data['wl_change'].str.replace(',','.')                       
data['temp_change'] = data['temp_change'].str.replace(',','.')                      
data['pressure_change'] = data['pressure_change'].str.replace(',','.')

In [60]:
# Зависимая переменная для всех одна и та же. Предикторы выбираем случайнм образом.
columns = list(data.columns)
n_x = 5

y_label = ['water_level']
x_labels = random.sample(columns[1:], n_x)

print(x_labels)

['humidity', 'visibility', 'pressure', 'wl_change', 'fire']

In [61]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу регрессии с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

In [62]:
all_lb =  x_labels + y_label

In [63]:
data=data[list(all_lb)]
data

     humidity visibility pressure wl_change fire water_level
0        31.0      100.0    993.8      -3.0  4.0       468.0
1        22.0       20.0   1004.1      -2.0  4.0       140.0
2        28.0       20.0   1001.2      -7.0  4.0       464.0
3        26.0      100.0    992.3      -1.0  4.0       467.0
4        22.0       20.0   1001.3      -2.0  4.0       138.0
...       ...        ...      ...       ...  ...         ...
1434     95.0        4.0    999.9      -1.0  4.0       474.0
1435     93.0       10.0    983.9      -1.0  4.0        65.0
1436     83.0       10.0    969.7       1.0  4.0       159.0
1437     91.0       10.0    995.4      -4.0  4.0        99.0
1438     79.0       10.0    990.4      -1.0  4.0       227.0

[1439 rows x 6 columns]

In [64]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(data))
print(val_test_size)

288

In [65]:

# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

863 288 288

In [66]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = all_lb

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['humidity', 'visibility', 'pressure',
                                  'wl_change', 'fire', 'water_level'])])

In [67]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [68]:
# Устанавливаем названия столбцов
column_names = all_lb
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [69]:
sc_train

     humidity  visibility  pressure  wl_change  fire  water_level
0    0.527473        0.20  0.849254      0.395   0.0     0.327170
1    0.769231        0.10  0.806716      0.370   0.0     0.689711
2    0.747253        0.04  0.719403      0.395   0.0     0.253215
3    0.967033        0.00  0.791791      0.385   0.0     0.225884
4    0.824176        0.20  0.710448      0.400   0.0     0.215434
..        ...         ...       ...        ...   ...          ...
858  0.417582        0.10  0.714179      0.175   0.0     0.727492
859  0.758242        0.20  0.644776      0.400   0.0     0.331994
860  0.956044        0.10  0.749254      0.295   0.0     0.863344
861  0.945055        0.20  0.852985      0.395   0.0     0.244373
862  0.384615        0.20  0.858209      0.480   0.0     0.471865

[863 rows x 6 columns]

In [70]:
x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = sc_train[y_label]
y_test = sc_test[y_label]
y_val = sc_val[y_label]

In [71]:
# Обучаем модели
for model in my_models1:
    model.fit(x_train, y_train)

In [72]:
# Оценииваем качество работы моделей на валидационной выборке.
mses = []
for model in my_models1:
    val_pred = model.predict(x_val)
    mse = mean_squared_error(y_val, val_pred)
    mses.append(mse)
    print(mse)

0.032881567706076434
0.03289243326392258
0.03558085171144473
0.03558085171144473

In [73]:
# Выбираем лучшую модель # Укажите, какая модель решает задачу лучше других.
i_min = mses.index(min(mses))
best_my_model = my_models1[i_min]
print('Модель ', best_my_model, 'решает задачу лучше других.')

Модель  Ridge(alpha=0.5) решает задачу лучше других.

In [74]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_r_model.predict(x_test)
mse = mean_squared_error(y_test, test_pred)
print(mse)

0.07881251037011722

In [114]:
# Задание №2 - анализ моделей для задачи классификации
# Общий список моделей
c_models = [
    LogisticRegression(penalty='none', solver='saga'),
    LogisticRegression(penalty='l1', solver='saga'),
    LogisticRegression(penalty='l2', solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.25, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.5, solver='saga'),
    LogisticRegression(penalty='elasticnet', l1_ratio=0.75, solver='saga'),
    LogisticRegression(),
    MultinomialNB(alpha=0.0),
    MultinomialNB(alpha=0.25),
    MultinomialNB(alpha=0.5),
    MultinomialNB(alpha=0.75),
    MultinomialNB(alpha=1.0),
    KNeighborsClassifier(n_neighbors=5),
    KNeighborsClassifier(n_neighbors=10),
    KNeighborsClassifier(n_neighbors=15),
    KNeighborsClassifier(n_neighbors=20),
    KNeighborsClassifier(n_neighbors=25)
]

In [115]:
# Выбор моделей для задания
n = 5
my_models2 = random.sample(c_models, n)
print(my_models2)

[LogisticRegression(penalty='l1', solver='saga'), LogisticRegression(l1_ratio=0.5, penalty='elasticnet', solver='saga'), MultinomialNB(), LogisticRegression(penalty='none', solver='saga'), KNeighborsClassifier(n_neighbors=25)]

In [116]:
# Загрузим данные для задачи классификации
data = pd.read_csv("datasets/zoo2.csv")
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,turtle,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,chameleon,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,iguana,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,lizard,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,gecko,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
5,python,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
6,boa,0,0,1,0,0,0,1,1,1,1,0,0,0,1,0,1,3
7,adder,0,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,3
8,crocodile,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
9,alligator,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
10,gharial,0,0,1,0,0,1,1,1,1,1,0,0,4,1,0,1,3
11,skink,0,0,1,0,0,0,0,1,1,1,0,0,4,1,0,0,3
12,anchovy,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,4
13,flounder,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
14,halibut,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
15,mackerel,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
16,barracuda,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4
17,marlin,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
18,trout,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,1,4
19,salamander,0,0,1,0,0,1,0,1,1,1,0,0,4,1,1,0,5
20,siren,0,0,1,0,0,1,0,1,1,1,0,0,2,1,0,0,5
21,tree frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
22,dart frog,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
23,firebelly,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
24,wart toad,0,0,1,0,0,1,0,1,1,1,0,0,4,0,0,0,5
25,mosquito,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
26,hornet,0,0,1,0,1,0,1,0,0,1,1,0,6,0,0,0,6
27,cricket,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
28,beetle,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
29,butterfly,1,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
30,palmetto,0,0,1,0,1,0,1,0,0,1,0,0,6,0,0,0,6
31,cockroach,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
32,mantis,0,0,1,0,0,0,1,0,0,1,0,0,6,0,0,0,6
33,dragonfly,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
34,aphid,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0,6
35,cicada,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
36,antlion,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0,6
37,scallop,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,7
38,spider,0,0,1,0,0,0,1,1,0,1,1,0,8,0,0,0,7
39,snail,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
40,silkworm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
41,jellyfish,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,7
42,squid,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,7

In [117]:
data.drop(['animal_name'], axis='columns', inplace=True)
data.head()

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,0,0,1,0,0,1,0,0,1,1,0,0,4,1,1,1,3
1,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3
2,0,0,1,0,0,0,1,1,1,1,0,0,4,1,1,1,3
3,0,0,1,0,0,0,1,1,1,1,0,0,4,1,0,0,3
4,0,0,1,0,0,0,0,1,1,1,0,0,4,1,1,0,3

In [118]:
# Метка класса для всех одна и та же. Параметры выбираем случайнм образом.
columns = list(data.columns)
n_x = 8

y_label = ['class_type']
x_labels = random.sample(columns[:-1], n_x)
all_lb =  x_labels + y_label
print(x_labels)

['tail', 'venomous', 'eggs', 'airborne', 'milk', 'catsize', 'feathers', 'backbone']

In [119]:
# Преобразуйте значения всех необходимых параметров к отрезку [0,1].
# Решите получившуюся задачу классификации с помощью выбранных моделей и сравните их эффективность.
# Укажите, какая модель решает задачу лучше других.

In [120]:
data=data[list(all_lb)]
data.head()

,tail,venomous,eggs,airborne,milk,catsize,feathers,backbone,class_type
0,1,0,1,0,0,1,0,1,3
1,1,0,1,0,0,0,0,1,3
2,1,0,1,0,0,1,0,1,3
3,1,0,1,0,0,0,0,1,3
4,1,0,1,0,0,0,0,1,3

In [121]:
# Определим размер валидационной и тестовой выборок
val_test_size = round(0.2*len(data))
print(val_test_size)

9

In [122]:
# Создадим обучающую, валидационную и тестовую выборки
random_state = my_seed
train_val, test = train_test_split(data, test_size=val_test_size, random_state=random_state)
train, val = train_test_split(train_val, test_size=val_test_size, random_state=random_state)
print(len(train), len(val), len(test))

25 9 9

In [123]:
# Значения в числовых столбцах преобразуем к отрезку [0,1].
# Для настройки скалировщика используем только обучающую выборку.
columns_to_scale = x_labels

ct = ColumnTransformer(transformers=[('numerical', MinMaxScaler(), columns_to_scale)], remainder='passthrough')
ct.fit(train)

ColumnTransformer(remainder='passthrough',
                  transformers=[('numerical', MinMaxScaler(),
                                 ['tail', 'venomous', 'eggs', 'airborne',
                                  'milk', 'catsize', 'feathers', 'backbone'])])

In [124]:
# Преобразуем значения, тип данных приводим к DataFrame
sc_train = pd.DataFrame(ct.transform(train))
sc_test = pd.DataFrame(ct.transform(test))
sc_val = pd.DataFrame(ct.transform(val))

In [125]:
# Устанавливаем названия столбцов
column_names = all_lb
sc_train.columns = column_names
sc_test.columns = column_names
sc_val.columns = column_names

In [126]:
sc_train

,tail,venomous,eggs,airborne,milk,catsize,feathers,backbone,class_type
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
6,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
11,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4.0
12,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0
13,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
14,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
16,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,7.0
17,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0
18,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.0
19,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4.0
20,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
21,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
23,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0
24,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6.0

In [127]:
x_train = sc_train[x_labels]
x_test = sc_test[x_labels]
x_val = sc_val[x_labels]

y_train = np.ravel(sc_train[y_label])
y_test = np.ravel(sc_test[y_label])
y_val = np.ravel(sc_val[y_label])

In [128]:
# Обучаем модели
for model2 in my_models2:
    model2.fit(x_train, y_train)

/srv/conda/envs/notebook/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

In [129]:
# Оценииваем качество работы моделей на валидационной выборке.
f1s = []
for model in my_models2:
    val_pred = model.predict(x_val)
    f1 = f1_score(y_val, val_pred, average='weighted')
    f1s.append(f1)
    print(f1)

0.3973063973063973
0.4395061728395062
0.3973063973063973
0.5185185185185186
0.02222222222222222

In [130]:
# Выбираем лучшую модель # Укажите, какая модель решает задачу лучше других.
i_min = f1s.index(min(f1s))
best_my_models2 = my_models2[i_min]
print('Модель ', best_my_models2, 'решает задачу лучше других.')

Модель  KNeighborsClassifier(n_neighbors=25) решает задачу лучше других.

In [131]:
# Вычислим ошибку лучшей модели на тестовой выборке.
test_pred = best_my_models2.predict(x_test)
f1 = f1_score(y_test, test_pred, average='weighted')
print(f1)

0.0808080808080808